@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Rubik&display=swap');
.text {
    text-align: center;
    margin-top: 15px;
    margin

}
.title {
    text-align: center ;
    font-family: "Segoe UI";
    margin : 0px;
    color : var(--whitemode);
}
.textarea {
    height: 500px;
    width: 1541px;
    border-radius: 10px;
    background-color: #303337;
    border: none;
    font-size: x-large;
    padding: 15px ;

}
.textarea:hover {
    border-color:  #21476C;
    border: 3px solid #21476C;
}
.slogan {
    text-align: center;
    font-size: 23px;
    font-family: "Segoe UI";
    margin: 0px;
    color: var(--whitemode);
}
.div-beta {
    text-align: center;
}
.beta {
    background-color:#FF4D4F ;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: none;
    margin : 0px;
}
.button-container {
    font-weight: bold;
    font-size: large;
}
.div-button {
    text-align: center;
}
.run-button {
    background-color: #45A3FB;
    color: white;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px ;
    border: none;
    font-size: x-large;
    margin-top: 35px;

}
.run-button:hover{
    opacity: 0.9;
}
.examples {
    text-align: center;
    font-size: 20px;
    color: #D8D8D9;
    font-family: arial;
}
 a {
    color: #45A1F4;
    text-decoration: none;
 }
 a:hover{
    text-decoration: underline;
 }
 .div-examples{
    text-align: center;
 }

 span {
    font-family: "Segoe UI";
    font-size: larger;
 }
 button {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 10px;
    border-radius: 8px;
    background-color: #3B3E42;
    color: #D8D8D9;
    border: none;
}
button:hover{
    opacity: 0.7;
    cursor: pointer;
    transition: 0.6s;
}
 img {
    width: 25px;
 }
 .dark-mode {
    background-color: #25282C;
    color: white;
 }
